<!-- BEGIN_INCLUDE(jwt:decode-payload) -->
    <jwt:decode-payload config-ref="" token="#[message.inboundProperties['Authorization']]" validateSignature="false"/>
<!-- END_INCLUDE(jwt:decode-payload) -->
<!-- BEGIN_INCLUDE(jwt:signature-is-valid) -->
    <jwt:signature-is-valid config-ref="" token="#[message.inboundProperties['Authorization']]"/>
<!-- END_INCLUDE(jwt:signature-is-valid) -->